body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(45deg, #1A4D2E, #4F6F52, #E8DFCA, #F5EFE6);
    animation: colors 10s ease infinite alternate;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #2b070f;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min-content;
    
}

.form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin-top: 20px;
    margin-right: 40px;
}

.form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin-left: 40px;
    margin-top: 20px;
}

.bt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.nome,
.sexo,
.cpf,
.nascimento,
.email,
.senha,
.cep,
.numero,
.cadastrar,
.estado,
.localidade,
.bairro,
.logradouro {
    margin: 10px;
    margin-left: 0px;
}

#nome,
#cpf,
#nascimento,
#email,
#senha,
#cep,
#numero,
#cadastrar,
#logradouro2,
#bairro2,
#localidade2,
#estado2 {
    color: white;
    margin-left: 0;
    align-content:baseline;
    justify-content:left;
    width: 250px;
    height: 20px;
}

.nome {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
    justify-self: center;
}

.sexo {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
    margin-right: 100px;
}

.cpf {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.nascimento {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.numero {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.cep {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.estado {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.localidade {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.bairro {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.logradouro {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.email {
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.senha {
    margin-right: 10px;
    background-color: transparent;
    border-radius: 5px;
    font-size: medium;
}

.cadastrar {
    justify-self: center;
    align-self: center;
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    margin: 10px;
    padding-right: 20px;
    font-size: medium;
    background-color: #1A4D2E;
    color: #F5EFE6;
    margin-top: 20px;
}

.cadastrar:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.9;
}

.login {
    color: #2b070f;
    margin: 20px;
    margin-right: 20px; 
    
}

.titulo {
    margin-bottom: 30px;
   justify-content: center;
   margin-left: 220px;
   padding: 20px;
}