.geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(45deg, #1A4D2E, #4F6F52, #E8DFCA, #F5EFE6);
    animation: colors 10s ease infinite alternate;
  }

  @keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%;
    }
  }

  .tituloPagina {
    margin: 20px;
    text-shadow: 10px #ffffff;
    color:rgb(123, 21, 21);
    padding: 10px;
    margin-top: 30px;
    text-decoration: underline;
  }

  .paragrafo1 {
    margin: 10px;
    color:rgb(63, 50, 4);
    justify-items: center;
    align-items: center;
  }

  .paragrafo2 {
    margin: 10px;
    color:rgb(63, 50, 4);
    justify-items: center;
    align-items: center;
  }

  
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:left;
    flex-wrap: wrap;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
    background-color: white;
    background-blend-mode: soft-light;
  }
  
  
  .texto {
    display: flex;
    flex-direction: column;
    box-shadow: .2em .2em .8em black;
    width: 600px;
    height: 400px;
  }
  
  
  
  .nlocal, .idusuario, .descricao, .cep, .coordenadas, .tipoesporte, .logradouro, .bairro, .localidade, .estado {
    margin: 10px;
  }
  
  .nlocal {
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color:rgb(63, 50, 4);
  }
  
  
  .idusuario {
    align-self: self-end;
    color:rgb(63, 50, 4);
  }
  
  .descricao {
    align-self: self-start;
    color:rgb(192, 158, 45);
  }
  
  
  .cep {
    align-self: self-start;
  }
  
  .coordenadas {
    align-self: self-start;
    color:rgb(63, 50, 4);
  }

  .bairro {
    align-self: self-start;
    color:rgb(63, 50, 4);
  }
  

  .localidade {
    align-self: self-start;
    color:rgb(63, 50, 4);
  }
  

  .estado {
    align-self: self-start;
    color:rgb(63, 50, 4);
  }
  
  .logradouro {
    align-self: self-start;
    color:rgb(63, 50, 4);
  }
    
  
  .tipoesporte {
    align-self: self-start;
    color:rgb(63, 50, 4);
    color:rgb(192, 158, 45);
  }